

<h1>
    {{title}} {{recycling.objectName}} - {{this.user.username}}
</h1>

<div class="card mb-3" style="width: 100%; justify-content: center">
    <img class="card-img-top" src="https://repsychle-production-new.herokuapp.com/image/{{recycling.file}}" alt="Card image cap">

    <div class="card-body">
        <h3 class="card-title">{{recycling.objectName}}</h3>
        <hr>
        <h5 class="card-text">Description: </h5>
        <p class="card-text">{{recycling.objectDescription}}</p>
        <hr>
        <h5 class="card-text">Disposal Method: </h5>
        <p class="card-text">{{recycling.objectDisposalMethod}}</p>
        <h5 class="card-text">EcoScore: </h5>
        <p class="card-text">{{recycling.objectEcoScore}}</p>
        <hr>
        <h5 class="card-text">Object Longitude:</h5>
        <p class="card-text">{{recycling.objectLong}}</p>

        <h5 class="card-text">Object Latitude: </h5>
        <p class="card-text">{{recycling.objectLat}}</p>
        <hr>
        <p class="card-text"><small class="text-muted">Created / Modified on: {{recycling.createdAt}}</small></p>


    </div>


</div>

<h3>Google Maps Recycling Location</h3>

<div id="map">

    <!--The div element for the map -->


    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async>
        // Initialize and add the map

        var map;
        var service;
        var infowindow;

        let lat = {{recycling.objectLat}};
        let lng = {{recycling.objectLong}};

        function initMap() {
            // The location of Uluru
            const uluru = { lat, lng };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: uluru,
            });

            var request = {
                location: uluru,
                radius: '500',
                query: 'recycle'
            };



            const image =
                    "https://i.imgur.com/5dG0UL4.png";
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: "Recycle Object",
                icon: image,
            });


            marker.setMap(map);


        }


    </script>


    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2n5bffW-wp4CH407vxkWEXa1a4DiWUr0&callback=initMap&v=weekly"
            async
    ></script>
    <style>
        #map {
            height:200px;
            width: 50%;
        }
    </style>

</div>
<style>
    #map {
        height:300px;
        width: 100%;
    }
</style>


