<!--
@#GGGGGGGGGB#&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#BGPJ77?7?Y#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G!7777!!!!77?Y#@@@@@@@@@@@@@@@@@@@@@@@@@@@@&BBBBBGJ77777?GGP@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777JPP5J777!7B@@@@@@@@@@@@@@@@@@@@@@@@@@&BGBBBBB&P77777!?#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G77775@@@@Y777!J@@@@@@@@@@@@@@@@@@@@@@@@@@@&#BBB#@@B?7777J&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777Y@@@#J777!P@@@@&BP5YYYPG#@@@@@@@&BGGPP5G@&&@@&####BB##BB&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777?JJ?777!75@@@&P?7!?JJ?7!7J#@@@@@@#J!!!!!5@@@@@@@@@&BBBBBB#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G777777!777JG&@@@&J!77?B##B577!7#@@@@@P777777?5@@@@@@@&@#BBBBBB&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777YB?!7775&@@@G!777?????????7G@@@@&?!777?#@#&@@@@@5Y@@#GGGGP#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777Y@&P777!7P&@B7777Y#&&&&BB#&@@@@@@&J!7JB#B##B#@#J!7?????7?B@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G!77!Y@@@#Y777!?G@B?!77?YYYJ77?5@@@@@@@@5JBBBBBBGB&J!7777!!!J#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@B????5@@@@@GJ????Y&&GY?7777?JYG&@@@@@@@@@#BBBBBBBB@&577??JJ5&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@&@@@@@&&&&&@@@@@@@@@@@@@@@@&&&&&&@@@GJ&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@&B###BBBB###&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@#PPPP#@@@@@@@@@@&J???Y@@@@@@@@@@@@@@@@@@@@@
@#5PPPP5555PPPPB@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#5PPP#@@@@@@@@@@&?77!J@@@@@@@@@@@@@@@@@@@@@
@#PPPPG###BPPPP5G@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#PPPP#@@@@@@@@@@&?777J@@@@@@@@@@@@@@@@@@@@@
@#PPPPB@@@@&PPPPP&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#PPPP#@@@@@@@@@@&?777J@@@@@@@@@@@@@@@@@@@@@
@#PPPPG@@@&BPPPPP&@&#BGGGGGBBBBBB#@@@@@@#BBBB#@@#BGGGGGB&#PPPP##BGGGB#&@@&?777J@@@&G5YJJJYPB@@@@@@@@
@#PPPPPPPPPPPPPP#@#PPPPGGGPG&G5PPPB@@@@BPPP5G&BPPP5PPPPP##PPPPPPPPPPPPPG@&?777J@&577!?Y5J7!7?G@@@@@@
@#PPPPPPPPPPGB#@@@G5PPP#&&&@@@BPPPPG@@BPPPPB@GPPPPB&&@&&@#PPPPG&@@&GPPP5#&?777Y&J!77?GBBB577!7B@@@@@
@#PPPPG@@@@@@@@@@@&BGPP5PPPB&@@#PPPPGBPPPPB@&PPPPG@@@@@@@#PPPP#@@@@#PPPP#&?777YG!777??????JJJ?P@@@@@
@#PPPPB@@@@@@@@@@@@&@&&BPPP5P@@@&PPPPPPPP#@@@PPPPP#@@@@@@#PPPP#@@@@#PPPP#&?777Y&7777J#@@@&GG#&@@@@@@
@#5PP5G@@@@@@@@@@&P5PGBGPPPPG@@@@&PPPPPP#@@@@&GPPPPPGGPP&#5PP5#@@@@#5PP5#&?!7!J@#J7!!7JJJ?!!75@@@@@@
@#GGGGB@@@@@@@@@@&BGPPPPPGG#@@@@@#PPPPP&@@@@@@@&BGGPPPPG##GGGG&@@@@#GGGG#@YJJJ5@@@B5J?????J5B@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BPPPPG&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BPPPPG@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BPPPPB@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

Project:      RePsychle - Beta
Description:  A website that aims to allow users to create an account, upload database entries, CRUD accessibility to make better recycling decisions.
Name:         Wyatt Kirschner
Course:       COMP3006
Date:         4/23/2022

-->

<!DOCTYPE html>
<html lang="en" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(144deg, #001122, #011c2e 19%, #003346 31%, #004b5b 40%, #00646c 53%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RePsychle - A Recycling Community Driven Database</title>
    <meta name="theme-color" content="#545454">
    <meta name="twitter:image" content="/assets/img/repsych_logo_dark.png">
    <meta name="twitter:title" content="RePsychle - A Recycling Community Driven Database">
    <meta property="og:image" content="/assets/img/repsychle_logo%201%20shadow.png">
    <meta name="description" content="RePsychle is a community-driven database that allows users to contribute to a database by creating entries for how they recycle objects locally.">
    <meta property="og:type" content="website">
    <meta name="twitter:description" content="RePsychle is a community-driven database that allows users to contribute to a database by creating entries for how they recycle objects locally.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/android-chrome-512x512.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/cerulean/bootstrap.min.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="/assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Custom-Checkbox.css">
    <link rel="stylesheet" href="/assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="/assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="/assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="/assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/Team-Grid.css">
</head>

<body class="background-attachment: fixed;" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: repeating-linear-gradient(180deg, #001122, #011c2e 7%, #003346 21%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;">
<div></div>

<div class="container text-center" style="background: rgba(123,188,126,0.2);margin-top: 50px;margin-bottom: 50px;">
    <div class="row" style="text-align: center;background: rgba(40,45,50,0.2);">
        <div class="col-md-12" style="margin: 0px;margin-top: 5px;padding: 5px;height: 50%;">
            <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 50px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-recycle icon" style="box-shadow: 0px 0px;color: #7bbc7e;width: 100px;height: 100px;margin: 15;font-size: 100px;">
                <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"></path>
            </svg>
                <h1 class="name" style="color: white;font-size: 32px;">Recyclable Objects</h1><img id="trash_disposal_image" class="rounded-circle" src="https://repsychle-production-new.herokuapp.com/image/4566ec26bb131ea3307afe7122e91de9.jpg" style="width: 400px;height: 400px;margin: 25px;">
                <p class="description" style="color: white;font-size: 24px;">Recycling is a great way to help the planet reduce the wasting of valuable resources that can be reused for other products.<br><br>Recyclable Objects can be sorted into different bins depending on the region where you are located in. <br><br>For some, there is a separation of paper and hard plastics.<br><br>For others, it may be combined into one bin to be taken and sorted by your local recycling facility.<br><br>During this Beta, we recommend following these guidelines:</p>
                <p class="text-start description" style="color: white;font-size: 24px;"><br>&nbsp; &nbsp; &nbsp; Double-check with your region before making an entry to ensure that an object cannot be disposed of in another way.<br><br>&nbsp; &nbsp; &nbsp;If it can be separated into components, then sort them as needed.</p>
                <p class="description" style="color: white;font-size: 24px;">For more information on how the RePsychle Database works or how to create an entry, <em>click here</em>.</p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 25px;background: rgba(40,45,50,0.2);">
                <form class="search-form">
                    <div class="input-group"></div>
                </form><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-recycle icon" style="box-shadow: 0px 0px;color: #7bbc7e;width: 100px;height: 100px;margin: 15;font-size: 100px;">
                <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"></path>
            </svg>


                <h1 class="name" style="color: white;font-size: 32px;">Recyclable Objects</h1>
                <img src="/assets/img/repsychle_logo%201%20shadow.png" style="width: 250px;padding-top: 25px;padding-bottom: 25px;">
                {{#if user}}
                {{!-- Add links to CRUD operations --}}
                    <hr>
                    <a style="color: white;font-size: 32px;" href="/recycling/add">Add a new recycling object</a>
                    <hr>
                    <p style="color: white;font-size: 18px;">Welcome Back {{user.username}}</p>
                <hr>
                {{/if}}

                <div class="card-group">


                    {{#each dataset}}
                    <div class="card-group">
                        <div class="card" style="width: 18rem; padding: 25px;margin: 25px; background: rgba(40,45,50,0.8)">
                            <img class="card-img-top" src="https://repsychle-production-new.herokuapp.com/image/{{this.file}}" alt="Card image cap">
                            <div class="card-body" style="background: rgb(40,45,50); ">
                                <h4 class="card-title" style="color: #7bbc7e">Object:</h4>
                                <p class="card-title" style="color: white;">{{this.objectName}}</p>
                                <h4 class="card-text" style="color: #7bbc7e">Disposal Method: </h4>
                                <p class="card-text" style="color: white;">{{this.objectDisposalMethod}}</p>
                                <h4 class="card-title" style="color: #7bbc7e">EcoScore:</h4>
                                <p class="card-text" style="color: white;">{{this.objectEcoScore}}</p>

                                <a href="/recycling/view/{{this._id}}" class="btn btn-primary" style="background: #7bbc7e">View Entry</a>
                                <hr>
                                {{#if this.profile_id}}
                                   <a href="/recycling/edit/{{this._id}}"
                                           class="btn btn-primary" style="background: #7bbc7e">Edit</a>
                                        <a href="/recycling/delete/{{this._id}}"
                                           class="btn btn-danger"
                                        >Delete</a>
                                    <hr>
                                {{/if}}

                                <p class="card-text" style="color: white;"><small class="text-muted">Created / Modified on: {{this.createdAt}}</small></p>




                            </div>
                        </div>
                    </div>

                    {{/each}}



                </div>
    </div>
</div>
<div class="col-md-12" style="padding: 25px;padding-top: 25px;text-align: center;background: rgba(40,45,50,0.8);"><i class="fas fa-recycle text-center icon" style="box-shadow: 0px 0px;color: #7bbc7e;width: 75px;height: 75px;font-size: 78px;text-align: center;"></i>
    <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 25px;margin: 0 auto;">
        <h1 class="name" style="color: white;font-size: 32px;">Join our Email List</h1><img src="/assets/img/repsychle_logo%201%20shadow.png" style="padding-top: 25px;padding-bottom: 25px;width: 25%;">
        <p class="description" style="color: white;font-size: 24px;">To learn more about the RePsychling Revolution, join our Newsletter!<br></p>
        <form class="search-form justify-content-center form-group form-horizontal" style="text-align: center;margin: auto;padding: 0px;height: auto;width: 50%;background: #00000000;margin-bottom: 25px;">
            <div class="input-group" style="width: 100%;text-align: center;height: auto;margin: auto;"></div>
        </form><div style="text-align: center;">

        <div class="wrapper rounded6" id="templateContainer">


            <div id="templateBody" class="bodyContent rounded6">










                <form action="https://repsychle.us14.list-manage.com/subscribe/post" method="POST">
                    <input type="hidden" name="u" value="8b977aaab218495243d4ea039">
                    <input type="hidden" name="id" value="00a0eca80f">


                    <!-- people should not fill these in and expect good things -->
                    <!-- <div class="field-shift" aria-label="Please leave the following three fields empty" aria-hidden="true">
                         <label for="b_name">Name: </label>
                         <input type="text" name="b_name" tabindex="-1" value="" placeholder="Freddie" id="b_name">

                         <label for="b_email">Email: </label>
                         <input type="email" name="b_email" tabindex="-1" value="" placeholder="youremail@gmail.com" id="b_email">

                         <label for="b_comment">Comment: </label>
                         <textarea name="b_comment" tabindex="-1" placeholder="Please comment" id="b_comment"></textarea>
                     </div>

                 -->

                    <div id="mergeTable" class="mergeTable">


                        <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
                            <label for="MERGE0" style="color: white;font-size: 24px; margin-bottom: 0px; margin: 25px;margin-bottom: 25px;margin-top: 25px; width: 25%; text-align: center;">Email Address <span class="req asterisk">*</span></label>
                            <div class="field-group">
                                <input  type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" style="margin: 25px;margin-bottom: 25px;margin-top: 25px; width: 25%; text-align: center;">


                            </div>

                        </div>



                        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
                            <label for="MERGE1" style="color: white;font-size: 18px;">First Name</label>
                            <div class="field-group">
                                <input type="text" name="MERGE1" id="MERGE1" size="25" value="" style="margin: 25px;margin-bottom: 25px;margin-top: 25px; width: 25%; text-align: center;">


                            </div>

                        </div>



                        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2">
                            <label for="MERGE2" style="color: white;font-size: 18px;">Last Name</label>
                            <div class="field-group">
                                <input type="text" name="MERGE2" id="MERGE2" size="25" value="" style="margin: 25px;margin-bottom: 25px;margin-top: 25px; width: 25%; text-align: center;">


                            </div>

                        </div>









                    </div>

                    <div class="submit_container clear">
                        <input type="submit" class="formEmailButton" name="submit" value="Subscribe" style="background: #7bbc7e;border-style: none;color: white; margin: 25px;margin-bottom: 25px;margin-top: 25px;text-align: center;">
                    </div>
                    <input type="hidden" name="ht" value="2f9f9c55d32933679bad3360902d1d3f28af06d8:MTY0OTk5MzE0MC43NTM2">
                    <input type="hidden" name="mc_signupsource" value="hosted">
                </form>


            </div>
        </div>


        <div class="poweredWrapper">
            <span class="poweredBy"><a href="http://www.mailchimp.com/email-referral/?utm_source=freemium_newsletter&amp;utm_medium=email&amp;utm_campaign=referral_marketing&amp;aid=8b977aaab218495243d4ea039&amp;afl=1"><img src="https://cdn-images.mailchimp.com/monkey_rewards/grow-business-banner-2.png" border="0" alt="Email Marketing Powered by Mailchimp" title="Mailchimp Email Marketing" width="435" height="64" style="max-width: 100%; height: auto;"></a></span>
        </div>

        <script type="text/javascript" src="/d7n1/lSH1/SE-/Gqq/g-VA/ifr7VrpbiN/Hy9jbBo5DBA/WmEPPW/FOCDw"></script>

    </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/bs-init.js"></script>

</body>

</html>